{% extends "app/base.html" %}
{% load  %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}

<div class="container">
    <div class="row">
        
      <div class="col-7">
        <div class="centered-block">
          
          <div class="position-relative">
            <br>
            <br>
            <br>
        
                
         <h1 class="text-success">𝓐𝓵𝓵𝓮𝓻𝓰𝔂 𝓪𝓭𝓿𝓲𝓬𝓮𝓼</h1>   
        <p>AT OUR RESTAURANT</p>
        <h3><b>We use only the freshest and highest quality ingredients in our dishes, <span style="color: rgb(244, 88, 16);">and offer transparency in our ingredient labeling.</span></b></h3>
            <p><b></b></p>
                
      </div>
      </div>
      </div>
     
  
      <div class="col-1"></div>
      <div class="col">
        <div class="image-container">
        <img src="{% static 'pic/5.png' %} " style="max-width:80%;height:auto;"  alt="...">
        </div>
      </div>
    </div>
    </div>
    <br>
    <br>
    <!-- # -->
    <div class="container">
        <div class="row">
           
            <div class="col">
                <style>
                    .responsive {
                        width: 100%;
                        max-width: 2000px;
                        height: 100%;
                        
                      }
                </style>
        <div class="image-container">
          <img src="{% static 'pic/Momo Menu.png' %}" class= "responsive" alt="...">
          </div>
        
      </div>
    </div>
    </div>
<!--  -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
<div class="centered-block">
<h2><span style="color: rgb(244, 88, 16);">---------------🅰🅻🅻🅴🆁🅶🆈</span>🅰🅳🆅🅸🅲🅴---------------</h2>

</div>
<style>
    .text {
        text-align: justify;; /* Allow text to grow and shrink */
    }
</style>

                  <p class="text">"Our restaurant takes the safety and well-being of our customers very seriously. Please inform your server if you have any food allergies or dietary restrictions before placing your order. Our chefs will do their best to accommodate your needs; however, please be aware that our kitchen handles various ingredients and allergens, including nuts, gluten, dairy, shellfish, and soy. Cross-contamination may occur despite our best efforts. We cannot guarantee that our dishes are completely free from allergens. If you have any concerns about allergens or food preparation, please don't hesitate to ask for assistance. Your health and satisfaction are our top priorities."</p>
                  <p class="text">At our restaurant, we prioritize the safety and well-being of our guests. We understand the seriousness of food allergies and dietary restrictions and strive to provide a dining experience that caters to everyone's needs. Please inform your server of any allergies or dietary concerns before placing your order, as our chefs are trained to accommodate special requests to the best of their ability.</p>
                  <p class="text">Our kitchen handles a variety of ingredients and allergens, including nuts, gluten, dairy, shellfish, and soy. While we take precautions to prevent cross-contamination, it's important to note that our dishes may come into contact with allergens during preparation. We want to ensure transparency about the ingredients in our dishes, so feel free to ask our staff for assistance or clarification regarding specific allergens present in our menu items.</p>
                  <p class="text">We understand the importance of providing clear and accurate allergy information to our guests. While we strive to create a safe dining environment, we cannot guarantee that our dishes are completely free from allergens. If you have any concerns or questions about allergens or food preparation methods, please don't hesitate to reach out to our staff. Your health and satisfaction are our top priorities, and we're here to ensure you have a comfortable and enjoyable dining experience.</p>
                      
            </div>
            </div>
            

            <br>
        <div class="container">
          <div class="row">
             
              <div class="col">
                <style>
                 
                
                .rounded-image {
                    border-radius: 20px; /* Set border radius to create rounded corners */
                }
                </style>
          <div class="image-container">
            <img src="{% static 'pic/ba1.jpg' %} " width="1350" alt="..." class="rounded-image" class="img-fluid" style="max-width:80%;height:450px;" >
            </div>
            
            <div class="text-overlay">
              
            <div class="container text-center">
                <h3 class="text-background-opacity1"><b><span style="color: rgb(4, 3, 3);">Scan the QR code</span></b></h3>
                <br>
                <style>
                 
              </style>
                <p class="text-background-opacity"><span style="color: rgb(118, 121, 118);">You can also check the allergy advices using your phones as well.</span></p>
                <style>
                    .responsive1 {
                        width: 50%;
                        max-width: 2000px;
                        height: 50%;
                        
                      }
                </style>
                <img src="{% static 'pic/qrcode.svg' %} " class= "responsive1" alt="...">
                <br>
                <h2><span style="color: rgb(244, 88, 16);">𝗦𝗖𝗔𝗡</span>𝗠𝗘!📱</h2>
            </div>
        </div>
      </div>
      </div>
      </div>
      <br>
      <br>
  
{% endblock content %}