{% extends "app/base.html" %}
{% load  %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
<div class="container">
    <div class="row">
       
      <div class="col">
        <div class="centered-block">
          
          <div class="position-relative ">
            <br>
            <br> 
            <br>   
         <h1 class="text-success">𝓞𝓾𝓻 𝓒𝓸𝓷𝓽𝓪𝓬𝓽</h1>   
        <p>GET IN TOUCH</p>
        <h2><b><span style="color: rgb(244, 88, 16);">Our Friendly Team </span>would love to hear from you</b></h2>
            <p><b></b></p>
                
      </div>
      </div>
      </div>
      </div>
      </div>

      <!--  -->
      <div class="container text-center">
        <div class="row row-cols-3">
            <div class="col-2"></div>
          <div class="col-3"><div class="card" style="max-width:86%;height:auto;">
            
            <div class="card-body">
              <h5 class="card-title"><b>🌍LOCATION</b></h5>
              <p class="card-text">New Baneshwor-41201,</p>
              <p class="card-text">Kathmandu,Bagmati,Nepal</p>
              
              <p class="card-text"></p>
              <p class="card-text"></p>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
          <div class="col-3"><div class="card" style="max-width:88%;height:auto;">
            <div class="image-container">
           
            <div class="card-body">
              <h5 class="card-title"><b>☎️PHONE</b></h5>
              <p class="card-text"><span style="color: rgb(5, 73, 26);"><b>Mobile: </b>      </span>(+977)9805689789  (+977)9841275897</p>
              <p class="card-text"><span style="color: rgb(5, 73, 26);"><b>Tel: </b>      </span>01-4783972</p>
              
              
            </div>
          </div>
        </div>
        </div>
        
          <div class="col-3">
            <div class="card" style="max-width:86%;height:auto;">
            <div class="image-container">
            
            <div class="card-body">
              <h5 class="card-title"><b>🕖SERVICE TIME</b></h5>
              <p class="card-text"><span style="color: rgb(5, 73, 26);"><b>MON-FRI</b>     </span>8 am - 8 pm</p>
              <p class="card-text"><span style="color: rgb(5, 73, 26);"><b>SAT-SUN</b>     </span>Closed</p>
              <p></p>
              
            </div>
          </div>
        </div>
        </div>
        <p></p>
        </div>
          
        </div>
      </div>
      <br>
      <br>
      <!--  -->
      <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d226088.38420378198!2d85.13465987812496!3d27.697797400000013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb185bea23505b%3A0xf3cee37bb67b67e7!2sNew%20Everest%20Mo%3AMo%20Pasal!5e0!3m2!1sen!2snp!4v1714510174856!5m2!1sen!2snp" width="100%" height="710" style="border:0;" allowfullscreen="" loading="fast" referrerpolicy="no-referrer-when-downgrade"></iframe>


            </div>
            
                <div class="col">
                    
                    <form class="form" style="max-width:190%;height:auto;">
                        <h2><b>Contact <span style="color: rgb(244, 88, 16);">Us</span></b></h2>
                    <p>If you have any queries,send us a message. Our Friendly team would love to hear from you</p>
        
                        <div class="flex">
                        <label>
                            <input required="" placeholder="" type="text" class="input">
                            <span>Firstname</span>
                        </label>
                        <label>
                          <input required="" placeholder="" type="text" class="input">
                          <span>Lastname</span>
                      </label>
            
                    </div>  
                            
                    <label>
                        <input required="" placeholder="" type="email" class="input">
                        <span>Email</span>
                    </label> 
                    <label>
                      <input required="" placeholder="" type="text" class="input">
                      <span>What can we do for you?</span>
                  </label> 
                    <label>
                        <input required="" placeholder="" type="tel" class="input">
                        <span>Phone Number</span>
                    </label>
                    <label>
                      <input required="" placeholder="" type="text" class="input" style="height: 170px">
                      <span>Message</span>
                    </label>
                    
                    <button class="submit">Send Message</button>
                    
                </form>
                </div>
            </div>
        </div>


  
{% endblock content %}